.frontendpage,
.home-section {
  background-color: var(--color-gray-200);
  display: flex;
}
.home-section {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-45xl) var(--padding-5xl);
  align-items: flex-start;
  justify-content: space-between;
}
.frontendpage {
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

